<app-header></app-header>
<div class="gallery">
  
    <!--<video autoplay muted loop id="myVideo">
      <source src="../../../assets/bg.mp4" type="video/mp4">
    </video>-->
    
    <!-- <div class="profile">
        <h3>User Name : {{userName}}<br>
        User Email : {{email}}</h3>
    </div> -->
      <mat-card *ngFor="let mobile of allcart">
        <mat-card-header>
          <div mat-card-avatar><div mat-card-avatar style="background-image: url({{mobile.cartMobileLogourl}});"></div></div>
          <mat-card-title>{{mobile.cartMobileModel}}</mat-card-title>
          <mat-card-subtitle>{{mobile.cartMobileBrand}}</mat-card-subtitle>
        </mat-card-header>
    
  
      <img mat-card-image src='{{mobile.cartMobileImageurl}}'>
               <h2>&#x20b9; {{mobile.cartMobilePrice}}/-</h2> 
      <mat-card-content>
          <h2>Cart Date:</h2>
    <h3>{{mobile.cartDate}}</h3>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="buyorder(mobile.cartId,mobile.cartMobileLogourl,mobile.cartMobileBrand,mobile.cartMobileModel,mobile.cartMobileImageurl,mobile.cartMobilePrice)">Buy Order</button>
        <button mat-raised-button color="accent" (click)="deleteById(mobile.cartId)">Cancel Order</button>
        </mat-card-actions>
      </mat-card>
    </div>
<app-footer></app-footer>
