<app-header></app-header>


<div class="desc">
  <h1><b>ABOUT US</b></h1>
<h3><b>WHAT WE DO?</b></h3>
MobileShop gives you a chance to quickly and easily find the phone you want and have it delivered to your<br> 
home in no time, regardless of your location, as long as it is in one of the countries of the EU.

<br><br>
<h3><b>WHY DO CUSTOMERS LOVE US?</b></h3>
We have been in the business for quite a while now, and it that time we have not only managed to make close<br>
relationships with numerous suppliers all over the world, but also to recognize what people need.<br> 
This means that we are always able to offer all the latest phones, great prices, reliable service,<br> 
fast delivery and premium customer support.<br><br>

<h1><b>THE STORY</b></h1>
<h3><b>BEGINNING</b></h3>
MobileShop website was launched in 2011, but its story actually began some 8 years before that when a group of<br>
college friends decided to go into business together. We started selling phones in shops, but our combined ambition,<br>
drive and abilities soon made us look for new challenges and new markets. Starting an online shop provided for both<br>
and allowed us to develop a strong international presence in a number of EU countries.<br><br>

<h3><b>TODAY</b></h3>
Collective experience of our team members and the years we have spent in the business allowed us to develop a vast<br> 
network of suppliers, ensuring that our customers will always find what they are looking for. This also means that<br>
we are able to offer great prices, which are constantly being updated and follow the shifts in the market.<br>
<br>
Our affordability, fast and reliable delivery, and the fact that you will always be able to find the phone that you<br> 
are looking for in our offer, have made us stand out in the market, but they are simply symptoms of our dedication<br> 
to what we are doing and our desire to constantly keep improving. We know that in order to do that, we need to keep<br>
in close touch with our customers and listen to their suggestions and critiques. This is why our customer service,<br>
which is always there to answer any question that you may have, is just as willing to listen as it is to inform.<br>

</div>


<br><br><br>
<mat-card>
    <mat-card-header>
        <mat-card-title>Govindharaj Thiyagarajan</mat-card-title>
        <mat-card-subtitle>Prograd's Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="../../../assets/raj.png">

  </mat-card>


<br>
<br>
<app-footer></app-footer>