


 <app-header></app-header>

 <div>
   <section class="site-title">
     <div class="site-background" data-aos="fade-up" data-aos-delay="100">
       <h2>MOBILE IS THE NEED OF THE WORLD </h2>
       <h4>You just need to get mobile. All the world is in your hand.</h4>
     </div>
   </section>
 </div>

 <br><br><br><br>
 <p>
 
    Some Brands 

 </p>
 <br><br><br><br><br>

 <section>
   <div class="grid-container1">
     <div class="grid-item1">
       <mat-icon (click)="previous(0)" class="space1">keyboard_arrow_left</mat-icon>
     </div>
     <div class="grid-item1" *ngFor="let image of test[0]">
       <div>
         <mat-card class="card myDIV">
           <img [src]="image" alt="" width="200px" height="200px">
           <mat-card-content class="hide">
             <br><br>
             <button mat-raised-button color="primary" (click)="onClickImage()">Click Here</button>
           </mat-card-content>
         </mat-card>
       </div>
     </div>
     <div class="grid-item1">
       <mat-icon (click)="next(0)" class="space1">keyboard_arrow_right</mat-icon>
     </div>
   </div>
 </section>
 <br><br>
 <section>
   <div class="grid-container1">
     <div class="grid-item1">
       <mat-icon (click)="previous(1)" class="space1">keyboard_arrow_left</mat-icon>
     </div>
     <div class="grid-item1" *ngFor="let image of test[1]">
       <div>
         <mat-card class="card myDIV">
           <img [src]="image" alt="" width="200px" height="200px">
           <mat-card-content class="hide">
             <br><br>
             <button mat-raised-button color="accent" (click)="onClickImage()">Click Here</button>
           </mat-card-content>
         </mat-card>
       </div>
     </div>
     <div class="grid-item1">
       <mat-icon (click)="next(1)" class="space1">keyboard_arrow_right</mat-icon>
     </div>
   </div>
 </section>
 <br>
 <br>
<app-footer></app-footer>

